<app-navbar></app-navbar>
<section class="container">
  <h1>My Anime List</h1>
  <div>
    <input type="text" class="form-control my-2" placeholder="Search anime...">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Episodes</th>
          <th scope="col">Watched</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
        <tr>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
        <tr>
          <td>@twitter</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
